USE [DbIliskiliHareket]
GO
/****** Object:  StoredProcedure [dbo].[PROJE6]    Script Date: 1.03.2025 23:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--TBLHAREKETLER tablosunda yer alan ürünün isimlerini gösteren sorgu
--SELECT AD FROM TBLHAREKETLER
--INNER JOIN TBLURUNLER
--ON TBLURUNLER.ID = TBLHAREKETLER.URUN

--TBLHAREKETLER tablosunda yer alan ürünün isimlerini ve müşterilerin isimlerini gösteren sorgu
--SELECT AD, ADSOYAD FROM TBLHAREKETLER
--INNER JOIN TBLURUNLER
--ON TBLURUNLER.ID = TBLHAREKETLER.URUN
--INNER JOIN TBLMUSTERILER
--ON TBLMUSTERILER.ID = TBLHAREKETLER.MUSTERI

--TBLHAREKETLER tablosunda yer alan ürünün isimlerini, müşterilerin isimlerini ve personellerin isimlerini gösteren sorgu
--SELECT TBLURUNLER.AD, ADSOYAD, TBLPERSONELLER.AD, FIYAT FROM TBLHAREKETLER
--INNER JOIN TBLURUNLER
--ON TBLURUNLER.ID = TBLHAREKETLER.URUN
--INNER JOIN TBLMUSTERILER
--ON TBLMUSTERILER.ID = TBLHAREKETLER.MUSTERI
--INNER JOIN TBLPERSONELLER
--ON TBLPERSONELLER.ID = TBLHAREKETLER.PERSONEL

--TBLHAREKETLER tablosunda yer alan ürünün isimlerini, müşterilerin isimlerini ve personellerin isimlerini gösteren sorguyu prosedür olarak oluşturma
ALTER PROCEDURE [dbo].[PROJE6]
AS
SELECT TBLURUNLER.AD AS 'Ürün Ad', ADSOYAD AS 'Müşteri', TBLPERSONELLER.AD AS 'Personel', FIYAT AS 'Fiyat' FROM TBLHAREKETLER
INNER JOIN TBLURUNLER
ON TBLURUNLER.ID = TBLHAREKETLER.URUN
INNER JOIN TBLMUSTERILER
ON TBLMUSTERILER.ID = TBLHAREKETLER.MUSTERI
INNER JOIN TBLPERSONELLER
ON TBLPERSONELLER.ID = TBLHAREKETLER.PERSONEL